@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'omyu_pretty';
    font-size: 1.3rem;
}

#lunch_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  #lunch_wrap {
    width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .menu {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .category-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .category-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    color: #555;
  }
  
  .category-label input[type="checkbox"] {
    margin-right: 0.25rem;
  }
  
  .vending-machine {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .vending-machine .button {
    flex-basis: 48%;
  }
  