
.wrap {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* 고성능 점심뽑기 글씨체 */
.main-title{ 
    font-size: 3rem;
    color: black;
    font-weight: 800;
}

.button-box {
    position: absolute;
    top: 40%;
}
/* 버튼 스타일링 */
.buttons{
    border: none !important;
    border-radius: 10px;
    background-color: #000 !important;
    text-shadow: 0px 0px 5px #000;
    color: white;
    font-family: auto;
    font-weight: 800;
    margin: 10px;
}

.buttons:last-child{
    margin-right: 0px;
}

@media (max-width: 520px) {
    .main-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 666px) and (min-width: 300px) {
    .buttons {
        width: 250px;
    }
}